@import "~bootstrap/scss/bootstrap";
@import "profile";

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body section {
  display: none;

  &[data-shown=true] {
    display: block;
  }
}

.navbar {
  background: #e1e1e1;
  margin-bottom: 10pt;
}

