#profile {

  #rides .route {
    margin-bottom: 20pt;
    svg {

      stroke-width: 3px;
      stroke: #00f;
      fill: #fff;
    }
    p {
      margin: 0;
      display: block;
    }
    .route-times {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    ;
    }
  }

  .prototype {
    display: none;
  }

  .summed-up-values, .ride {
    margin-bottom: 20pt;
    border-style: solid;
    border-color: #e1e1e1;
    background: #e1e1e1;
  }

  .summed-up-values:first-of-type {
    border-top-left-radius: 10pt;
  }

  .summed-up-values:nth-last-of-type(1) {
    border-bottom-left-radius: 10pt;
  }

  .ride:nth-last-of-type(1) {
    border-bottom-right-radius: 10pt;
  }

  .ride label:last-of-type {
    margin-bottom: 0;
  }

  .make-and-model {
    font-style: italic;
    padding-left: 30pt;
  }
}
